@import url("https://fonts.googleapis.com/css2?family=Noto Sans TC:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h6: "Noto Sans TC";

  /* font sizes */
  --h6-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --p-size: 20px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;
  --color: #403a3a;
  --color-darkslategray-100: #07453a;
  --color-goldenrod-100: #d9ac40;
  --color-goldenrod-200: rgba(217, 172, 64, 0.3);
  --color-goldenrod-300: rgba(217, 172, 64, 0.4);
  --color-teal: #036650;
  --color-black: #000;
  --color-floralwhite: #fffbf1;
  --color-gray-100: #7a7a7a;
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --color-whitesmoke: #f5f5f5;
  --color-tomato: #f64336;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-41xl: 60px;
  --gap-89xl: 108px;
  --gap-87xl-4: 106.4px;
  --gap-33xl: 52px;
  --gap-641xl: 660px;
  --gap-182xl: 201px;
  --gap-177xl: 196px;
  --gap-786xl: 805px;
  --gap-3xs: 10px;
  --gap-75xl: 94px;
  --gap-xl: 20px;
  --gap-177xl-8: 196.8px;
  --gap-108xl-8: 127.8px;
  --gap-24xl: 43px;
  --gap-156xl: 175px;
  --gap-10xl: 29px;
  --gap-174xl-6: 193.6px;
  --gap-175xl-6: 194.6px;
  --gap-175xl-8: 194.8px;
  --gap-79xl-3: 98.3px;
  --gap-123xl: 142px;
  --gap-353xl: 372px;
  --gap-176xl-1: 195.1px;
  --gap-2xs: 11px;
  --gap-11xs: 2px;
  --gap-292xl: 311px;
  --gap-8xs: 5px;
  --gap-7xs: 6px;
  --gap-5xs-3: 7.3px;
  --gap-9xs: 4px;
  --gap-7xl: 26px;
  --gap-base: 16px;
  --gap-8xs-7: 4.7px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-3xl: 22px;
  --gap-8xs-4: 4.4px;
  --gap-lgi-5: 19.5px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-40xl: 59px;
  --padding-lgi: 19px;
  --padding-693xl: 712px;
  --padding-xl: 20px;
  --padding-696xl: 715px;
  --padding-338xl: 357px;
  --padding-337xl: 356px;
  --padding-159xl: 178px;
  --padding-396xl: 415px;
  --padding-188xl: 207px;
  --padding-sm: 14px;
  --padding-59xl: 78px;
  --padding-mini: 15px;
  --padding-78xl: 97px;
  --padding-3xl: 22px;
  --padding-22xl: 41px;
  --padding-44xl: 63px;
  --padding-102xl: 121px;
  --padding-73xl: 92px;
  --padding-11xl: 30px;
  --padding-lg: 18px;
  --padding-9xl: 28px;
  --padding-mid: 17px;
  --padding-3xs: 10px;
  --padding-8xl: 27px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-17xl: 36px;
  --padding-21xl: 40px;
  --padding-24xl: 43px;
  --padding-601xl: 620px;
  --padding-599xl: 618px;
  --padding-290xl: 309px;
  --padding-291xl: 310px;
  --padding-135xl: 154px;
  --padding-136xl: 155px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-23xl: 42px;
  --padding-220xl: 239px;
  --padding-85xl: 104px;
  --padding-221xl: 240px;
  --padding-100xl: 119px;
  --padding-49xl: 68px;
  --padding-101xl: 120px;
  --padding-25xl: 44px;
  --padding-41xl: 60px;
  --padding-12xs: 1px;
  --padding-77xl: 96px;
  --padding-2xs: 11px;
  --padding-4xs: 9px;
  --padding-5xs: 8px;
  --padding-10xl: 29px;
  --padding-10xs: 3px;
  --padding-391xl: 410px;
  --padding-70xl: 89px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-82xl: 101px;
  --padding-76xl: 95px;
  --padding-171xl: 190px;
  --padding-87xl: 106px;
  --padding-53xl: 72px;
  --padding-6xs: 7px;
  --padding-50xl: 69px;
  --padding-20xl: 39px;
  --padding-52xl: 71px;
  --padding-6xl: 25px;
  --padding-13xl: 32px;
  --padding-30xl: 49px;
  --padding-500xl: 519px;
  --padding-499xl: 518px;
  --padding-240xl: 259px;
  --padding-110xl: 129px;
  --padding-31xl: 50px;
  --padding-180xl: 199px;
  --padding-65xl: 84px;
  --padding-167xl: 186px;
  --padding-60xl: 79px;
  --padding-2xl: 21px;
  --padding-72xl: 91px;
  --padding-14xl: 33px;
  --padding-58xl: 77px;
  --padding-48xl: 67px;
  --padding-47xl: 66px;
  --padding-211xl: 230px;
  --padding-130xl: 149px;
  --padding-32xl: 51px;
  --padding-34xl: 53px;
  --padding-18xl: 37px;
  --padding-33xl: 52px;
  --padding-43xl: 62px;
  --padding-64xl: 83px;
  --padding-7xl: 26px;
  --padding-69xl: 88px;
  --padding-38xl: 57px;
  --padding-432xl: 451px;
  --padding-433xl: 452px;
  --padding-207xl: 226px;
  --padding-206xl: 225px;
  --padding-94xl: 113px;
  --padding-93xl: 112px;
  --padding-199xl: 218px;
  --padding-68xl: 87px;
  --padding-83xl: 102px;
  --padding-5xl: 24px;
  --padding-106xl: 125px;
  --padding-107xl: 126px;
  --padding-84xl: 103px;
  --padding-88xl: 107px;
  --padding-89xl: 108px;
  --padding-91xl: 110px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-11xl: 30px;
}
