@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your custom styles here if needed */
body {
    @apply bg-gray-100 text-gray-800;
    /* Default background and text colors */
}